<section class="homePage">
  <img class="sp-hero-image" src="dist/img/homeImage.jpg" alt="Animals" />
</section>
<section class="row">
  <div class="col-md-1"></div>
  <section class="col-md-10">
    <h2>Welcome to South Pine Animal Hospital</h2>
    <p>South Pine Animal Hospital is located in the small east Texas town of Crockett.  We are a full service mixed animal veterinary hospital and we look forward to meeting you and your pets.  At South Pine Animal Hospital we offer many services including Small and Large Animal care, Surgeries, Small Animal and Equine Dentistry, Boarding and After Hours Emergency Services.  Feel free to look around our site to check out the veterinary services provided, meet the veterinarian, Dr. Cory Tucker, and the staff. Don't forget to look under the more tab for our monthly special.</p>

    <p>If there are any questions call us at <a class="sp-link" href="tel:936-544-8788"><i class="fa fa-phone"></i> 936-544-8788</a> or come by the office located at <a class="sp-link" href="https://maps.google.com/?q=1300 South 4th St, Crockett, Texas" target="_blank"><i class="fa fa-map-marker"></i> 1300 South 4th St, Crockett, Texas</a>.</p>

    <section class="sp-callout business-hours">
      <h3>Office Hours</h3>
      <ul>
        <li>Monday-Friday: <span>8:00AM - 5:30PM</span></li>
        <li>Saturday: <span>8:00AM - 12:00PM</span></li>
        <li>After hours emergency number: <a class="sp-link" href="tel:936-544-8788"><i class="fa fa-phone"></i> 936-544-8788</a></li>
        <li>Please check out our <a class="sp-link" ui-sref="emergency">emergency page</a> for directions to emergency clinics that are located nearby if Dr. Tucker is out of the office.</li>
      </ul>
    </section>

    <section class="sp-callout ask-doc">
      <h3>Ask the Doc</h3>
      <p>Want to know more about common illnesses and frequently asked questions, <a class="sp-link" ui-sref="askDoc">Ask the Doc</a></p>
      <p>You can also directly ask questions to Dr. Cory Tucker. Please fill the form out below and Dr. Tucker will respond as soon as he cans.</p>
      <ask-doc></ask-doc>
    </section>
  </section>
  <div class="col-md-1"></div>
</section>
